<p>Busqueda de Cliente por Apellido</p>
<form method="get" action="@Url.Action("Buscar", "Clientes")">
    <input type="text" name="cli" placeholder="Apellido del cliente" />
    <input type="submit" value="Buscar" />
</form>

