@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidxs</h1>
    <p>Estacionamiento ORT 2024 2C</a>.</p>
</div>
@if (!String.IsNullOrEmpty(ViewBag.MensajeError))
{
    <div class="text-danger"> <p class="popover-arrow"> @ViewBag.MensajeError </p></div>
}
