@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidxs</h1>
    <p>Estacionamiento ORT 2024 2C</a>.</p>
</div>
<img src="~/img/placepark.jpg" alt="Logo de Estacionamiento ORT" class="img-fluid mx-auto d-block" style="max-width: 500px;" />

@if (TempData["PrecargaOK"] != null)
{
    <div class="alert alert-success">
        @TempData["PrecargaOK"]
    </div>
}
