@{
    var id = ViewBag.Id;
   
}

<h1>Paso de Parametros</h1>
<p>El id del producto es @id  </p>
<p>El nombre del producto es @ViewBag.NombreProducto</p>
<p>La descripcion es: @ViewData["descripcion"]</p>
<p>El Precio es: @TempData["precio"]</p>
