@{
    var id = ViewBag.Id;
    // var nombre = ViewBag.Nombre;
    // var apellido = ViewData["Apellido"];
    // var direccion = TempData["Direccion"];
}

<h1> Paso de Parametros</h1>
<p>El Id del producto es: @id</p>
<p>El Nombre del producto es: @ViewBag.nombreProducto</p>
<p>La descripcion es: @ViewData["descripcion"]</p>
<p>El Precio es: @TempData["precio"]</p>
