@model Persona

@{
    ViewData["Title"] = "Crear Persona Con Formulario Post";
}



<h4>Persona POST No Aparece en el Query String</h4>


<form action="@Url.Action("CrearPersona", "PruebaPersonas")" method="post">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" required>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}