@model Persona

@{
    ViewData["Title"] = "Crear Persona Con Formulario Get";
}



<h4>Persona GET Aparece en el Query String</h4>


<form method="get" action="@Url.Action("CrearPersona", "PruebaPersonas")">
    <div class="form-group"  >
        <label for="Nombre">Ingrese su nombre</label>
        <input type="text" id="Nombre" name="Nombre" class="form-control" />
        <label for="Apellido">Ingrese su Apellido</label>
        <input type="text" id="Apellido" name="Apellido" class="form-control" />

    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}